@{
    ViewData["Title"] = "Home Page";
}

<style>

    .carousel-item img {
        width: 100%;
        height: 264px;
    }

    .carousel-indicators {
        bottom: 25px;
    }
</style>
<div class="row img_banner">
    <div class="col-md-12">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                @for (int i = 0; i < ViewBag.totalBanner1; i++)
                {
                    <li data-target="#demo" data-slide-to="@i"></li>
                }
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                @foreach (var item in ViewBag.lstBanner1)
                {
                    var data = item.Images.Split(';');
                <div class="carousel-item ">
                    @foreach (var ite in data)
                    {
                        if (ite == "")
                        {
                            break;
                        }
                        <img src="@ite" alt="@item.name">
                    }

                </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="container sub-menu">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-4">
            <a href="">
                <div class="row ml-0 ">
                    <img src="~/Content/Img/s_menu_ps.png" alt="">
                    <div class="text_sub_menu ">
                        <span class="b-sub-menu b-blue">Thiết kế đồ họa</span><br>
                        <span class="text-16-normal">Logo, thương hiệu, truyền thông</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
            <a href="">
                <div class="row">
                    <img src="~/Content/Img/s_menu_ps2.png" />
                    
                    <div class="text_sub_menu">
                        <span class="b-sub-menu b-green">Thiết kế đồ họa</span><br>
                        <span class="text-16-normal"> Logo, thương hiệu, truyền thông</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-sm-12 col-md-4">
            <a href="">
                <div class="row">
                    <img src="~/Content/Img/s_menu_ps3.png" alt="">
                    <div class="text_sub_menu">
                        <span class="b-sub-menu b-orange">Thiết kế đồ họa</span><br>
                        <span class="text-16-normal">Logo, thương hiệu, truyền thông</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<div class="container contents">
    <div class="title-items container row">
        <h4>Thiết kế đồ họa</h4>
        <button class="view-all">Xem tất cả</button>
    </div>
    <div class="items row">
        <div class="col-md-3">
            <img class="img-item" src="https://cdn.tgdd.vn/Files/2019/01/01/1142002/s8ori_800x600.jpg" alt="">
        </div>

        <div class="col-md-3">
            <img class="img-item" src="https://cdn.tgdd.vn/Files/2019/01/01/1142002/s8ori_800x600.jpg" alt="">
        </div>

        <div class="col-md-3">
            <img class="img-item" src="https://cdn.tgdd.vn/Files/2019/01/01/1142002/s8ori_800x600.jpg" alt="">
        </div>

        <div class="col-md-3">
            <img class="img-item" src="https://cdn.tgdd.vn/Files/2019/01/01/1142002/s8ori_800x600.jpg" alt="">
            <div class="title-item">
                <a href="">
                    <b>Thiết kế logo Maxmed </b><br>
                    <span>20/11/2020</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container contents">
    <div class="title-items container row">
        <h4>Thiết kế đồ họa</h4>
        <button class="view-all">Xem tất cả</button>
    </div>
    <div class="items row">
        <div class="col-md-3">
            <img class="img-item" src="https://cdn.tgdd.vn/Files/2019/01/01/1142002/s8ori_800x600.jpg" alt="">
        </div>

        <div class="col-md-3">
            <img class="img-item" src="https://cdn.tgdd.vn/Files/2019/01/01/1142002/s8ori_800x600.jpg" alt="">
        </div>

        <div class="col-md-3">
            <img class="img-item" src="https://cdn.tgdd.vn/Files/2019/01/01/1142002/s8ori_800x600.jpg" alt="">
        </div>

        <div class="col-md-3">
            <img class="img-item" src="https://cdn.tgdd.vn/Files/2019/01/01/1142002/s8ori_800x600.jpg" alt="">
            <div class="title-item">
                <a href="">
                    <b>Thiết kế logo Maxmed  </b><br>
                    <span>20/11/2020</span>
                </a>
            </div>
        </div>
    </div>

</div>
<div class="container contents">
    <div class="title-items container row">
        <h4>Thiết kế đồ họa</h4>
        <button class="view-all">Xem tất cả</button>
    </div>
    <div class="items row">
        <div class="col-md-3">
            <img class="img-item" src="https://cdn.tgdd.vn/Files/2019/01/01/1142002/s8ori_800x600.jpg" alt="">
        </div>

        <div class="col-md-3">
            <img class="img-item" src="https://cdn.tgdd.vn/Files/2019/01/01/1142002/s8ori_800x600.jpg" alt="">
        </div>

        <div class="col-md-3">
            <img class="img-item" src="https://cdn.tgdd.vn/Files/2019/01/01/1142002/s8ori_800x600.jpg" alt="">
        </div>

        <div class="col-md-3">
            <img class="img-item" src="https://cdn.tgdd.vn/Files/2019/01/01/1142002/s8ori_800x600.jpg" alt="">
            <div class="title-item">
                <a href="">
                    <b>Thiết kế logo Maxmed </b><br>
                    <span>20/11/2020</span>
                </a>
            </div>
        </div>
    </div>

</div>
<style>

    .items2 {
        width: 90%;
        margin: 0px auto;
    }

    .slick-slide {
        margin: 10px;
    }

        .slick-slide img {
            width: 100%;
            border: 0px solid #fff;
        }

    .slick-next:before {
        content: '→';
        color: #0F916E;
    }

    .slick-prev:before {
        content: '←';
        color: #0F916E;
    }

    .slick-prev, .slick-next {
        width: 40px;
        height: 40px;
    }
</style>
<div class="container contents">
    <div class="title-items container row">
        <h4>Thiết kế đồ họa</h4>

    </div>
    <div class="items2 container ">
        @foreach (var item in ViewBag.lstBanner1)
        {
            var data = item.Images.Split(';');
        <div>
            @foreach (var ite in data)
            {
                if (ite == "")
                {
                    break;
                }
                <img src="@ite">
            }
        </div>

                }
    </div>

</div>

<script>
    $(document).ready(function () {

        $('.items2').slick({
            arrows: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3
        });

        // banner 1
        $($('.carousel-inner').children('div')[0]).addClass('active');
        $($('.carousel-indicators').children('li')[0]).addClass('active');
     
    });
 
</script>